<h2> What you want to know? </h2>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
  <form action="/answer">
  <input type="text" placeholder = "Your question" name="question">
  <input type="submit" value="Ask!">
  </form>
  